<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <h1>Hey malla reddy</h1>

            <form action="/login" method="post">
                <p><input type="text" name="email" placeholder="name"></p>
                <p><input type="password" name="password" placeholder="password"></p>
                <button>Login</button>
            </form>
            <h5> Have no account then <a href="/register">Register</a></h5>
</body>

</html>