<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Hey malla reddy</h1>
    <form action="/login">
        <p><input type="text" placeholder="name"></p>
        <p><input type="password" placeholder="password"></p>
    </form>
    <form action="/register">
        <p><input type="Name" placeholder="name"></p>
        <p><input type="email" placeholder="email"></p>
        <p><input type="password" placeholder="password"></p>
    </form>
</body>
</html>